body {
  --white: #F2F2F3;
  --black: #222123;
  --dark-gray: #32313C;
  --gray: #494851;
  --light-gray: #737373;
  --warning-black: #1E1D23;
  --purple: #AD3BFF;
  --dark-purple: #9023DF;
  --red: #D70022;
  --dark-red: #B50521;
}

body {
  font-family: "SF Pro Text", 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  /* overflow: hidden;
  min-height: 200px;
  min-width: 300px;
  max-width: 300px;
  width: 300px; */

  padding: 2rem;
  transition: all .25s ease-in-out;
  position: relative;
  background: var(--black);
  font-size: 16px;
}

main {
  padding: 1rem;
	max-width: 600px;
	margin: 0 auto;
}

section {
	background: var(--gray);
	border-radius: 1rem 2rem 1rem 2rem;
  padding: 2rem;
  margin-bottom: 3rem;
}

h1, h2, p {
  color: var(--white);
}

h1, h2, h3 {
  line-height: normal;
  margin: 0 0 1rem;
}

p {
  margin: 0 0 1rem;
  padding: 0;
  line-height: 1.5rem;
}

.button {
  display: inline-block;
  padding: 10px;
  text-align: center;
  background: var(--purple);
  color: var(--white);
  border-radius: 6px;
  text-decoration: none;
  transition: background 0.2s ease-out;
  margin-right: 1rem;
  cursor: pointer;
}

.button:hover {
  background: var(--dark-purple);
}

.button.gray {
  background: var(--dark-gray);
  padding-left: 2rem;
  padding-right: 2rem;
}

.button.gray:hover {
  background: var(--black);
}

.userInfo {
  padding: 0;
}

.userInfo label {
  color: var(--white);
  padding: 0 0 0.5rem;
}

.userInfo input {
  display: block;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0;
}

.userInfo input, .userInfo label {
  display: block;
  width: 100%;
}

.entered-info-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.info-form, .entered-info {
  display: none;
}

.info-form h3, .entered-info h3 {
  color: var(--white);
}

.entered-info {
  color: var(--white);
}

#form > h2 {
  display: flex;
  align-items: center;
}

#form > h2 img {
  fill: var(--white);
  display: inline-block;
  width: 32px;
  margin-right: 0.5rem;
}

.svg {
  -moz-context-properties: fill;
}
