body {
  --white: #F2F2F3;
  --black: #222123;
  --dark-gray: #32313C;
  --gray: #494851;
  --medium-gray: #666666;
  --light-gray: #737373;
  --warning-black: #1E1D23;
  --purple: #AD3BFF;
  --dark-purple: #9023DF;
  --red: #D70022;
  --dark-red: #B50521;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  /* overflow: hidden; */
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 200px;
  min-width: 300px;
  max-width: 300px;
  width: 300px;
  transition: all .25s ease-in-out;
  margin: 0;
  padding: 0;
  position: relative;
  background: var(--black);
  font-size: 13px;
  font-family: "SF Pro Text", 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: left;
}

body > div {
  display: none;
}

main {
  padding: 0;
  margin: 0;
  background: var(--dark-gray);
  position: relative;
  z-index: 1;
}

.svg {
  -moz-context-properties: fill;
}

.title {
  height: 40px;
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
}

h1 {
  color: var(--white);
  text-align: center;
  font-size: 13px;
  font-weight: 300;
  line-height: 1rem;
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
}

section {
  display: block;
  width: 100%;
  padding: 1rem 0;
  border-bottom: 1px solid var(--gray);
  margin-bottom: 0;
}

section:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}

/* Buttons */

button {
  text-align: left;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  font-size: 1em;
  display: flex;
  width: 100%;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

button:first-child {
  margin-top: -0.5rem;
}

button:last-child {
  margin-bottom: -0.5rem;
}

button:hover {
  background: var(--gray);
}

.button-title {
  display: flex;
}

.button-title img {
  fill: var(--white);
  display: inline-block;
  max-width: 16px;
  margin-right: 0.5rem;
}

button span {
  color: var(--white);
  flex-grow: 1;
}

button div:first-child {
  flex-grow: 2;
}

.button-title, .button-action {
  display: flex;
  align-items: center;
}

.button-action img {
  fill: var(--light-gray);
  max-width: 16px;
  display: inline-block;
  margin-left: 0.5rem;
}

.button-action span {
  color: var(--light-gray);
}

.side-button {
  flex-direction: row;
  justify-content: space-between;
  /* align-items: flex-start; */
}

/* Cards */

.card-site-not-empty,
.card-site-empty {
  display: none;
}

section.cards {
  padding: 1rem;
}

.card-site-title {
  color: var(--light-gray);
  padding-bottom: 0.25rem;
}

.card {
  background: var(--gray);
  border-radius: 0.75rem 1.5rem;
  padding: 1rem;
  color: var(--white);
  margin-bottom: 1rem;
}

.card:last-of-type {
  margin-bottom: 0;
}

.card-title {
  font-size: 16px;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.card-description {
  line-height: 1.2rem;
  padding-bottom: 0.75rem;
}

.card-title img {
  fill: var(--white);
  max-width: 16px;
  margin-right: 0.5rem;
  display: inline-block;
}

.card-action {
  border-radius: 4px;
  background: var(--purple);
  text-align: center;
  font-size: 16px;
  padding: 0.5rem 0;
  line-height: 1rem;
  display: block;
  width: 100%;
  color: var(--white);
  font-weight: bold;
  transition: background 0.2s ease-out;
  cursor: pointer;
}

/* .card.pending .card-description {
  display: none;
} */

.pending .card-action {
  background: var(--light-gray);
}

.pending .card-action:hover {
  background: var(--medium-gray);
}

.card-action:hover {
  background: var(--dark-purple);
}

.card.warning {
  background: var(--warning-black);
  background: repeating-linear-gradient(
    -60deg,
    var(--warning-black),
    var(--warning-black) 15px,
    #16151C 15px,
    #16151C 30px
  );
}

.card.warning .card-action {
  background: var(--red);
}

.card.warning .card-action:hover {
  background: var(--dark-red);
}

/* confirmations panel */

.confirmations section {
  padding: 1rem;
  color: var(--white);
}

.confirmations-intro {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  border-bottom: 1px solid var(--gray);
}

.confirmations-intro img {
  fill: var(--white);
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 1rem;
}

.confirmations-intro p {
  margin: 0 0 1rem;
  padding: 0;
}

.confirmation-button {
  padding: 0.25rem 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0;
}

.confirmation-button:hover {
  background: var(--gray);
}

.confirmation-button img {
  fill: var(--white);
  display: inline-block;
  max-width: 16px;
  margin-right: 0.5rem;
}

.confirmations .confirmation-buttons {
  padding: 0.5rem 0;
  margin-bottom: 0;
}

.confirmations-wrapper-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: var(--light-gray);
  font-size: 13px;
  margin-bottom: 0.25rem;
}

.site {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.site label > span {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.site label span > span {
  width: 100%;
  font-style: italic;
  text-transform: normal;
  color: var(--light-gray);
}

.title .back-button {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  line-height: 16px;
  cursor: pointer;
  transition: background 0.2s ease-out;
  padding: 0 0.5rem;
}

.title .back-button .svg {
  fill: var(--white);
  width: 16px;
}

.title .back-button:hover {
  background: var(--dark-gray);
}
